*{
    box-sizing: border-box;
}

body{
    font-family: verdana, geneva, serif;
}

h1, h2{
    font-family: 'Sedgwick Ave', cursive;
    color: #00b8e4;
}

h1{
    font-size: 4em;
}

header{
    padding: 20px 0;
    background-image: url(./img/cabecera.jpg);
}

div.contenidor, div.text{
    width: 1000px;
    margin: 0 auto;
}

nav{
    background-color: #3756F2;
    width: 1000px;
    margin:0 auto;
    position: relative;
}

.navegacio{
    list-style: none;
}

nav > ul > li{
    float: left;
}

nav ul li a {
    display: inline-block;
    color: #ffffff;
    padding: 20px 20px;
    text-decoration: none;
    width: 200px;
    text-align: center;
}

nav ul li a:hover {
    background-color: #00b8e4;
}

nav ul::after {
    content: '';
    display: block;
    clear: both;
}

nav ul ul {
    background-color: rgba(0,184,228, .7);
    position: absolute;
    top:100%;
    display: none;
}

nav ul li:hover > ul {
    display: block;
}

main {
    width: 70%;
    float: left;
    padding-right: 40px;
}
  
  
div.text::after {
    content: '';
    display: block;
    clear: both;
}

article{
      margin-top: 30px;
}

h2{
    font-size: 2em;
    margin-bottom: 20px;
}

article > img{
    float:left;
    width: 300px;
    height: auto;
    margin-right: 30px;
}

article > p{
    text-align: justify;
    line-height: 2;
}

.boto{
   background-color: #00b8e4;
   color: #ffffff;
   font-weight: bold;
   text-decoration: none;
   display: inline-block;
   border-radius: 10px;
   padding: 10px 30px;
   text-transform: uppercase;
}

.posts{
    margin-top: 30px;
    text-align: center;
}

ul.posts li{
    padding: 10px 0 10px 10px;
}

ul.posts li a{
    text-decoration: none;
    color: #00b8e4;
}

ul.posts li:hover a{
    background-color: #00b8e4;
    color: #ffffff;
}

footer{
    padding-top: 40px;
    margin-top: 30px;
    background-image: url(img/cabecera.jpg);
}

.info h2{
    font-size: 2em;
}

.info{
    color: blue;
    float: left;
    width: 40%;
}

.xarxes{
    float: right;
    width: 30%;
}

.xarxes ul li{
    display:inline-block;
}
.xarxes ul li a img{
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

.copy{
    padding: 20px;
    color: blue;
    text-align: center;
}

footer .contenidor::after{
    content: '';
    display: block;
    clear: both;
}